In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_log_error

# I - Load the data

In [11]:
data_train = pd.read_csv('data/train.csv')
data_test = pd.read_csv('data/test.csv')
print('Data Loaded !')

Data Loaded !

In [13]:
print('Training set :',data_train.shape[0],'rows and',data_train.shape[1],'columns')
print('Testing set :',data_test.shape[0],'rows and',data_test.shape[1],'columns')

Training set : 1460 rows and 81 columns
Testing set : 1459 rows and 80 columns

Keep only the quantitative features as data_int

In [6]:
data_train_int = data_train.select_dtypes(exclude="object")
data_test_int = data_test.select_dtypes(exclude="object")
print(data_train_int.shape)
print(data_test_int.shape)

(1460, 38)
(1459, 37)

In [8]:
data_train_int.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [10]:
for col in data_train_int.columns:
    data_train_int[col] = data_train_int[col].fillna(data_train_int[col].mean())
for col in data_train_test_int.columns:
    data_test_int[col] = data_test_int[col].fillna(data_test_int[col].mean())

/Users/antoine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

NameError: name 'data_train_test_int' is not defined

# Linear Regression

Linear Regression with only quantitative features

In [253]:
from sklearn.linear_model import LinearRegression

In [ ]:
model_LR = LinearRegression()

In [236]:
size_train = int(data_train.shape[0] * 0.8)
print(size_train)

1168

In [237]:
X_train = (data_int.iloc[:size_train,:]).drop(['SalePrice'],axis=1)

In [238]:
X_val = (data_int.iloc[size_train:,:]).drop(['SalePrice'],axis=1)

In [239]:
y_train = (data_int.iloc[:size_train,:]).SalePrice

In [240]:
y_val = (data_int.iloc[size_train:,:]).SalePrice

In [241]:
X = data_int.drop(['SalePrice'],axis=1)

In [242]:
y = data.SalePrice

In [243]:
X_test = data_test_int

In [244]:
model_LR.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [245]:
predictions = model_LR.predict(X_val)

In [246]:
print(mean_squared_log_error(predictions,y_val))

0.03929148253827832

In [247]:
model_LR.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [250]:
predictions = model_LR.predict(X_test)

In [251]:
output = pd.DataFrame({'Id': data_test.Id, 'SalePrice': predictions})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [252]:
output

        Id      SalePrice
0     1461  115926.594601
1     1462  151030.342499
2     1463  171983.977434
3     1464  198518.883208
4     1465  194967.621945
5     1466  181130.495498
6     1467  198666.269847
7     1468  171002.948888
8     1469  206145.096482
9     1470  112759.020953
10    1471  204334.836403
11    1472  117862.952814
12    1473   98476.818023
13    1474  149269.211003
14    1475  117658.624146
15    1476  312117.138293
16    1477  245167.677823
17    1478  290163.330736
18    1479  270185.286694
19    1480  402589.170242
20    1481  291828.109994
21    1482  215717.186108
22    1483  176148.250470
23    1484  173997.119075
24    1485  196616.453102
25    1486  208586.427842
26    1487  284068.619368
27    1488  257077.872236
28    1489  183546.913967
29    1490  229785.546856
...    ...            ...
1429  2890   55378.343393
1430  2891  144432.394010
1431  2892   34550.318814
1432  2893   70977.041145
1433  2894   39119.938059
1434  2895  285088.465508
1435  2896  260507.248941
1436  2897  205181.812455
1437  2898  164188.996289
1438  2899  224065.301307
1439  2900  164558.515389
1440  2901  226396.355286
1441  2902  200421.888617
1442  2903  305394.661224
1443  2904  324600.268941
1444  2905   43333.421157
1445  2906  241123.560466
1446  2907   95678.578385
1447  2908  120399.046213
1448  2909  144801.819355
1449  2910   52295.747273
1450  2911   54751.720314
1451  2912  160293.983217
1452  2913   59481.473977
1453  2914   46497.616687
1454  2915   56131.856460
1455  2916   63464.212740
1456  2917  168773.526618
1457  2918   98928.720352
1458  2919  250497.419787

[1459 rows x 2 columns]

In [451]:
data_train = pd.read_csv('data/train.csv')
data_test = pd.read_csv('data/test.csv')

We can drop Alley, PoolQC,FireplacesQu, and MiscFeature because they have to much NaN

Drop MsSubClass for now because it's quantitative variable for categorical

In [452]:
data_train = data_train.drop(['Alley','PoolQC','MiscFeature','FireplaceQu'],axis=1)
data_test = data_test.drop(['Alley','PoolQC','MiscFeature','FireplaceQu'],axis=1)

In [453]:
print(data_train.shape)
print(data_test.shape)

(1460, 77)
(1459, 76)

Fill the NaN with mean for int and mode for string

In [454]:
for col in data_train.columns:
    if data_train[col].dtypes == 'int64':
        data_train[col] = data_train[col].fillna(data_train[col].mean())
        if (col != 'SalePrice'):
            data_test[col] = data_test[col].fillna(data_train[col].mean())
    if data_train[col].dtypes == 'float64':
        data_train[col] = data_train[col].fillna(data_train[col].mean())
        data_test[col] = data_test[col].fillna(data_train[col].mean())
    if data_train[col].dtypes == 'object':
        data_train[col] = data_train[col].fillna(data_train[col].value_counts().index[0])
        data_test[col] = data_test[col].fillna(data_train[col].value_counts().index[0])

In [455]:
print((data_train.isna().sum()).sum())
print((data_test.isna().sum()).sum())

0
0

Convert into dummy variable

In [456]:
data_all = data_train.append(data_test,ignore_index=True)
print(data_all.shape)

(2919, 77)

In [457]:
for col in data_all.columns:
    if data_train[col].dtype == 'object':
        encoding = pd.get_dummies(data_all[col],prefix=col)
        data_all = data_all.drop([col],axis=1)
        data_all = pd.concat([data_all,encoding],axis=1)

In [458]:
data_all.shape

(2919, 276)

In [472]:
data_train = data_all.iloc[:len(data_train),:]
data_test = data_all.iloc[len(data_train):,:].drop(['SalePrice'],axis=1)

In [460]:
print(data_train.shape)
print(data_test.shape)

(1460, 276)
(1459, 276)

Testing with all those features

In [461]:
X_train = (data_train.iloc[:size_train,:]).drop(['SalePrice'],axis=1)
y_train = (data_train.iloc[:size_train,:]).SalePrice
X_val = (data_train.iloc[size_train:,:]).drop(['SalePrice'],axis=1)
y_val = (data_train.iloc[size_train:,:]).SalePrice

In [398]:
model_LR.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [399]:
predictions = model_LR.predict(X_val)

In [400]:
print(mean_squared_log_error(predictions,y_val))

0.02816622727984925

Submission

In [473]:
X = data_train.drop(['SalePrice'],axis=1)
y = data_train.SalePrice
X_test = data_test

In [474]:
print(X.shape)
print(X_test.shape)

(1460, 275)
(1459, 275)

In [475]:
model_LR.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [476]:
predictions = model_LR.predict(X_test)

In [477]:
output = pd.DataFrame({'Id': data_test.Id, 'SalePrice': predictions})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!